<div class="mobile-menu data-modal="modal4">
  <div class="mobile-menu-head">
    <ul class="mobile-head-list">
      <li class="mobile-head-item">
        <button type="button" class="mobile-head-close" data-modal-close="modal4">
          <svg width="12" height="12">
            <use href="/src/images/icons.svg#icon-close"></use>
          </svg>
        </button>
      </li>
      <li class="mobile-head-item">
        <svg width="84" height="36">
          <use href="/src/images/icons.svg#icon-yogastudio"></use>
        </svg>
      </li>
      <li class="mobile-head-item">
        <button class="mobile-head-btn" type="button">
          <a href="#pricing" class="burger-nav">Join</a>
        </button>
      </li>
    </ul>
  </div>

  <div class="mobile-menu-body">
    <ul class="mobile-body-list">
      <li class="mobile-body-item">
        <a href="#yoga-classes" class="burger-nav">Yoga Classes</a>
      </li>
      <li class="mobile-body-item">
        <a href="#team" class="burger-nav">Team</a>
      </li>
      <li class="mobile-body-item">
        <a href="#testimonials" class="burger-nav">Testimonials</a>
      </li>
      <li class="mobile-body-item">
        <a href="#pricing" class="burger-nav">Pricing</a>
      </li>
      <li class="mobile-body-item">
        <a href="#footer" class="burger-nav">Contacts</a>
      </li>
    </ul>
  </div>

  <div class="mobile-menu-last-btn">
    <button type="button" class="mobile-last-btn">
      <a href="#pricing" class="burger-nav">Join</a>
    </button>
  </div>
</div>
