<section class="gallery-section" id="gallery">
   <div class="container gallery-container">
      <div class="gallery-title">
         <h2 class="gallery-title-h">Breathe in the Space</h2>
         <p class="gallery-title-p">Step inside YogaBloom and feel the calm. Explore our serene studio and the peaceful moments our community shares during each session.</p>
      </div>
      <div class="gallery-photo">
         <ul class="gallery-photo-ul">
            <li class="gallery-photo-li">
               <div class="gallery-photo-li-div">
                  <picture>
                     <source
                     media="(min-width: 1336px)"
                     srcset="
                     /images/gallery/gallery1_desktop1.jpg 1x,
                     /images/gallery/gallery1_desktop2.jpg 2x
                     "
                     />
                     <source
                     media="(min-width: 768px)"
                     srcset="
                     /images/gallery/gallery1_tablet1.jpg 1x,
                     /images/gallery/gallery1_tablet2.jpg 2x
                     "
                     />
                     <source
                     media="(min-width: 767px)"
                     srcset="
                     /images/gallery/gallery1_mob1.jpg 1x,
                     /images/gallery/gallery1_mob2.jpg 2x
                     "
                     />
                     <img src="/images/gallery/gallery1_desktop1.jpg" alt="gallery1_desktop1">
                  </picture>
               </div>
            </li>
            <li class="gallery-photo-li">
               <div class="gallery-photo-li-div">
                  <picture>
                     <source
                     media="(min-width: 1336px)"
                     srcset="
                     /images/gallery/gallery2_desktop1.jpg 1x,
                     /images/gallery/gallery2_desktop2.jpg 2x
                     "
                     />
                     <source
                     media="(min-width: 768px)"
                     srcset="
                     /images/gallery/gallery4_tablet1.jpg 1x,
                     /images/gallery/gallery4_tablet2.jpg 2x
                     "
                     />
                     <source
                     media="(min-width: 767px)"
                     srcset="
                     /images/gallery/gallery2_mob1.jpg 1x,
                     /images/gallery/gallery2_mob2.jpg 2x
                     "
                     />
                     <img src="/images/gallery/gallery2_desktop1.jpg" alt="gallery2_desktop1">
                  </picture>
               </div>
            </li>
            <li class="gallery-photo-li">
               <div class="gallery-photo-li-div">
                  <picture>
                     <source
                     media="(min-width: 1336px)"
                     srcset="
                     /images/gallery/gallery3_desktop1.jpg 1x,
                     /images/gallery/gallery3_desktop2.jpg 2x
                     "
                     />
                     <source
                     media="(min-width: 768px)"
                     srcset="
                     /images/gallery/gallery2_tablet1.jpg 1x,
                     /images/gallery/gallery2_tablet2.jpg 2x
                     "
                     />
                     <source
                     media="(min-width: 767px)"
                     srcset="
                     /images/gallery/gallery3_mob1.jpg 1x,
                     /images/gallery/gallery3_mob2.jpg 2x
                     "
                     />
                     <img src="/images/gallery/gallery3_desktop1.jpg" alt="gallery3_desktop1">
                  </picture>
               </div>
            </li>
            <li class="gallery-photo-li">
               <div class="gallery-photo-li-div">
                  <picture>
                     <source
                     media="(min-width: 1336px)"
                     srcset="
                     /images/gallery/gallery4_desktop1.jpg 1x,
                     /images/gallery/gallery4_desktop2.jpg 2x
                     "
                     />
                     <source
                     media="(min-width: 768px)"
                     srcset="
                     /images/gallery/gallery5_tablet1.jpg 1x,
                     /images/gallery/gallery5_tablet2.jpg 2x
                     "
                     />
                     <source
                     media="(min-width: 767px)"
                     srcset="
                     /images/gallery/gallery4_mob1.jpg 1x,
                     /images/gallery/gallery4_mob2.jpg 2x
                     "
                     />
                     <img src="/images/gallery/gallery4_desktop1.jpg" alt="gallery4_desktop1">
                  </picture>
               </div>
            </li>
            <li class="gallery-photo-li">
               <div class="gallery-photo-li-div">
                  <picture>
                     <source
                     media="(min-width: 1336px)"
                     srcset="
                     /images/gallery/gallery5_desktop1.jpg 1x,
                     /images/gallery/gallery5_desktop2.jpg 2x
                     "
                     />
                     <source
                     media="(min-width: 768px)"
                     srcset="
                     /images/gallery/gallery3_tablet1.jpg 1x,
                     /images/gallery/gallery3_tablet2.jpg 2x
                     "
                     />
                     <source
                     media="(min-width: 767px)"
                     srcset="
                     /images/gallery/gallery5_mob1.jpg 1x,
                     /images/gallery/gallery5_mob2.jpg 2x
                     "
                     />
                     <img src="/images/gallery/gallery5_desktop1.jpg" alt="gallery5_desktop1">
                  </picture>
               </div>
            </li>
            <li class="gallery-photo-li">
               <div class="gallery-photo-li-div">
                  <picture>
                     <source
                     media="(min-width: 1336px)"
                     srcset="
                     /images/gallery/gallery6_desktop1.jpg 1x,
                     /images/gallery/gallery6_desktop2.jpg 2x
                     "
                     />
                     <source
                     media="(min-width: 768px)"
                     srcset="
                     /images/gallery/gallery6_tablet1.jpg 1x,
                     /images/gallery/gallery6_tablet2.jpg 2x
                     "
                     />
                     <source
                     media="(min-width: 767px)"
                     srcset="
                     /images/gallery/gallery6_mob1.jpg 1x,
                     /images/gallery/gallery6_mob2.jpg 2x
                     "
                     />
                     <img src="/images/gallery/gallery6_desktop1.jpg" alt="gallery6_desktop1">
                  </picture>
               </div>
            </li>
         </ul>
      </div>
   </div>
</section>