<header>
  <div class="container">
    <!-- burger menu -->
    <div class="burger-menu-container">
      <button class="burger-button" type="button">
        <svg width="16" height="12">
          <use href="./images/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
    <nav class="navigation-container">
      <ul class="navigation-list">
        <li><a class="link" href="">Yoga Classes</a></li>
        <li><a class="link" href="">Team</a></li>
        <li><a class="link" href="">Testimonials</a></li>
        <li><a class="link" href="">Pricing</a></li>
        <li><a class="link" href="">Contacts</a></li>
      </ul>
    </nav>
    <div class="container-logo">
      <svg class="" width="84" height="36">
        <use href="./images/icons.svg#icon-yogastudio"></use>
      </svg>
    </div>

    <div class="container-join">
      <span class="container-link"
        ><a href="">Join<span class="extra-text"> now</span></a></span
      >
    </div>
  </div>
</header>
