<section class="hero">
<div class="hero-image"></div>
  <div class="container">
    <div class="hero-content">
      <div class="hero-title-div">
        <h1 class="hero-title">Transform Your Life with Our Yoga Courses</h1>
      </div>

      <div class="hero-div-text">
        <p class="hero-text">
          Discover the harmony of mind and body through our expertly designed
          yoga programs. Join a community dedicated to wellness and personal
          growth.
        </p>
      </div>
      <div class="hero-buttons">
        <a class="hero-join" href="#pricing">
          Join<span class="hero-span">Now</span></a
        >
        <a class="hero-learn" href="#gallery">Learn More</a>
      </div>
    </div>
  </div>
</section>
