<section class="hero">
  <div class="container hero-container">
    <div class="hero-image"></div>
    <div class="hero-content">
      <div class="hero-title-div">
        <h1 class="hero-title">Transform Your Life with Our Yoga Courses</h1>
      </div>
      <div class="hero-div-text">
        <p class="hero-text">
          Discover the harmony of mind and body through our expertly designed
          yoga programs. Join a community dedicated to wellness and personal
          growth.
        </p>

        <ul class="hero-buttons">
          <li><a class="hero-join" href="#pricing">Join Now</a></li>
          <li><a class="hero-learn" href="#gallery">Learn More</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
