<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="backdrop is-open">
      <div class="modal">
        <div class="modal-close-btn-div">
          <button class="modal-close-btn" type="button" data-modal-close>
            <svg class="modal-close-icon" width="32" height="32">
              <use href="/src/images/icons.svg#icon-close"></use>
            </svg>
          </button>
        </div>
        <div class="modal-menu">
          <h2 class="modal-join">Join Now!</h2>
          <p class="modal-session">One Session</p>
          <h3 class="modal-cost">$10</h3>
          <div class="modal-form-div-cont">
            <div class="modal-form-div">
            <form>
              <label for="user-name" class="modal-form-name">Your Name</label>
              <div class="modal-form">
                <input
                  type="text"
                  name="user-name"
                  id="user-name"
                  class="modal-form-input modal-form-input-name"
                  placeholder="Liam"
                  style="color: black"
                />
              </div>
            </form>
            </div>
          <div class="modal-form-div-two">
          <div class="modal-form-div">
            <form>
              <label for="user-name" class="modal-form-name">Email</label>
              <div class="modal-form">
                <input
                  type="text"
                  name="user-name"
                  id="user-name"
                  class="modal-form-input modal-form-input-email"
                  placeholder="hello@yogabloom.com"
                  style="color: black"
                />
              </div>
            </form>
          </div>
          <div class="modal-form-div">
            <form>
              <label for="user-name" class="modal-form-name"
                >Phone number</label
              >
              <div class="modal-form">
                <input
                  type="text"
                  name="user-name"
                  id="user-name"
                  class="modal-form-input modal-form-input-phone"
                  placeholder="+380 (95) 123 12 12"
                  style="color: black"
                />
              </div>
            </form>
          </div>
          </div>
        </div>
      </div>
      <div class="modal-checkout-div">
        <button class="modal-checkout" type="button">Go to checkout</button>
      </div>
    </div>

    
    <div class="backdrop">
      <div class="modal">
        <div class="modal-close-btn-div">
          <button class="modal-close-btn" type="button" data-modal-close>
            <svg class="modal-close-icon" width="32" height="32">
              <use href="./images/symbol-pricing.svg#icon-close"></use>
            </svg>
          </button>
        </div>
        <div class="modal-menu">
          <h2 class="modal-join">Join Now!</h2>
          <p class="modal-session">One Session</p>
          <h3 class="modal-cost">$65</h3>
          <div class="modal-form-div">
            <form>
              <label for="user-name" class="modal-form-name">Your Name</label>
              <div class="modal-form">
                <input
                  type="text"
                  name="user-name"
                  id="user-name"
                  class="modal-form-input"
                  placeholder="Liam"
                  style="color: black"
                />
              </div>
            </form>
          </div>
          <div class="modal-form-div">
            <form>
              <label for="user-name" class="modal-form-name">Email</label>
              <div class="modal-form">
                <input
                  type="text"
                  name="user-name"
                  id="user-name"
                  class="modal-form-input"
                  placeholder="hello@yogabloom.com"
                  style="color: black"
                />
              </div>
            </form>
          </div>
          <div class="modal-form-div">
            <form>
              <label for="user-name" class="modal-form-name"
                >Phone number</label
              >
              <div class="modal-form">
                <input
                  type="text"
                  name="user-name"
                  id="user-name"
                  class="modal-form-input"
                  placeholder="+380 (95) 123 12 12"
                  style="color: black"
                />
              </div>
            </form>
          </div>
      </div>
      <div class="modal-checkout-div">
        <button class="modal-checkout" type="button">Go to checkout</button>
      </div>
    </div>




    <div class="backdrop">
      <div class="modal">
        <div class="modal-close-btn-div">
          <button class="modal-close-btn" type="button" data-modal-close>
            <svg class="modal-close-icon" width="32" height="32">
              <use href="./images/symbol-pricing.svg#icon-close"></use>
            </svg>
          </button>
        </div>
        <div class="modal-menu">
          <h2 class="modal-join">Join Now!</h2>
          <p class="modal-session">One Session</p>
          <h3 class="modal-cost">$80</h3>
          <div class="modal-form-div">
            <form>
              <label for="user-name" class="modal-form-name">Your Name</label>
              <div class="modal-form">
                <input
                  type="text"
                  name="user-name"
                  id="user-name"
                  class="modal-form-input"
                  placeholder="Liam"
                  style="color: black"
                />
              </div>
            </form>
          </div>
          <div class="modal-form-div">
            <form>
              <label for="user-name" class="modal-form-name">Email</label>
              <div class="modal-form">
                <input
                  type="text"
                  name="user-name"
                  id="user-name"
                  class="modal-form-input"
                  placeholder="hello@yogabloom.com"
                  style="color: black"
                />
              </div>
            </form>
          </div>
          <div class="modal-form-div">
            <form>
              <label for="user-name" class="modal-form-name"
                >Phone number</label
              >
              <div class="modal-form">
                <input
                  type="text"
                  name="user-name"
                  id="user-name"
                  class="modal-form-input"
                  placeholder="+380 (95) 123 12 12"
                  style="color: black"
                />
              </div>
            </form>
          </div>
      </div>
      <div class="modal-checkout-div">
        <button class="modal-checkout" type="button">Go to checkout</button>
      </div>
    </div>
  </body>
</html>
