<section class="pricing" id="pricing">
  <div class="container container-pricing">
    <div class="pricing-title-div">
      <p class="pricing-title-p">Affordable</p>
      <h2 class="pricing-title">Pricing Plans</h2>
      <p class="pricing-subtitle">
        Choose the perfect plan for your yoga journey.
      </p>
    </div>

    <div class="pricing-box-cont">
      <div class="pricing-box">
        <p class="pricing-session">One Session</p>
        <h2 class="pricing-cost">$10</h2>
        <ul class="pricing-list">
          <li class="pricing-list-item">
            1 group session
            <svg class="check-icon" width="24" height="24">
              <use href="/images/icons.svg#icon-check"></use>
            </svg>
          </li>
          <li class="pricing-list-item">
            10% discount for next 2 Sessions<svg
              class="check-icon"
              width="24"
              height="24"
            >
              <use href="/images/icons.svg#icon-check"></use>
            </svg>
          </li>
          <li class="pricing-list-item">
            Community support group<svg
              class="check-icon"
              width="24"
              height="24"
            >
              <use href="/images/icons.svg#icon-check"></use>
            </svg>
          </li>
        </ul>
        <button class="pricing-btn" data-modal-open="modal1">Join</button>
      </div>

      <div class="pricing-box">
        <p class="pricing-session">8 Sessions Package</p>
        <h2 class="pricing-cost">$65</h2>
        <ul class="pricing-list">
          <li class="pricing-list-item">
            6 Group Sessions<svg class="check-icon" width="24" height="24">
              <use href="/images/icons.svg#icon-check"></use>
            </svg>
          </li>
          <li class="pricing-list-item">
            2 Individual Sessions<svg class="check-icon" width="24" height="24">
              <use href="/images/icons.svg#icon-check"></use>
            </svg>
          </li>
          <li class="pricing-list-item">
            Priority customer support<svg
              class="check-icon"
              width="24"
              height="24"
            >
              <use href="/images/icons.svg#icon-check"></use>
            </svg>
          </li>
        </ul>
        <button class="pricing-btn" data-modal-open="modal2">Join</button>
      </div>

      <div class="pricing-box-third">
        <div class="session-cost-third">
          <p class="pricing-session">12 Sessions Package</p>
          <h2 class="pricing-cost">$80</h2>
        </div>
        <ul class="pricing-list">
          <li class="pricing-list-item">
            8 Group Sessions<svg class="check-icon" width="24" height="24">
              <use href="/images/icons.svg#icon-check"></use>
            </svg>
          </li>
          <li class="pricing-list-item">
            4 Individual Sessions<svg class="check-icon" width="24" height="24">
              <use href="/images/icons.svg#icon-check"></use>
            </svg>
          </li>
          <li class="pricing-list-item">
            Access to advanced classes<svg
              class="check-icon"
              width="24"
              height="24"
            >
              <use href="/images/icons.svg#icon-check"></use>
            </svg>
          </li>
          <li class="pricing-list-item">
            Monthly yoga challenges<svg
              class="check-icon"
              width="24"
              height="24"
            >
              <use href="/images/icons.svg#icon-check"></use>
            </svg>
          </li>
          <li class="pricing-list-item">
            Exclusive member discounts<svg
              class="check-icon"
              width="24"
              height="24"
            >
              <use href="/images/icons.svg#icon-check"></use>
            </svg>
          </li>
          <li class="pricing-list-item">
            Community support group<svg
              class="check-icon"
              width="24"
              height="24"
            >
              <use href="/images/icons.svg#icon-check"></use>
            </svg>
          </li>
        </ul>
        <button class="pricing-btn-third" data-modal-open="modal3">Join</button>
      </div>

      <div class="pricing-box-deception">
        <div class="session-cost-third">
          <p class="pricing-session">12 Sessions Package</p>
          <h2 class="pricing-cost">$80</h2>
          <button class="pricing-btn-third">Join</button>
        </div>
        <div class="pricing-list-div">
          <ul class="pricing-list">
            <li class="pricing-list-item">
              8 Group Sessions<svg class="check-icon" width="24" height="24">
                <use href="/images/icons.svg#icon-check"></use>
              </svg>
            </li>
            <li class="pricing-list-item">
              4 Individual Sessions<svg
                class="check-icon"
                width="24"
                height="24"
              >
                <use href="/images/icons.svg#icon-check"></use>
              </svg>
            </li>
            <li class="pricing-list-item">
              Access to advanced classes<svg
                class="check-icon"
                width="24"
                height="24"
              >
                <use href="/images/icons.svg#icon-check"></use>
              </svg>
            </li>
            <li class="pricing-list-item">
              Monthly yoga challenges<svg
                class="check-icon"
                width="24"
                height="24"
              >
                <use href="/images/icons.svg#icon-check"></use>
              </svg>
            </li>
            <li class="pricing-list-item">
              Exclusive member discounts<svg
                class="check-icon"
                width="24"
                height="24"
              >
                <use href="/images/icons.svg#icon-check"></use>
              </svg>
            </li>
            <li class="pricing-list-item">
              Community support group<svg
                class="check-icon"
                width="24"
                height="24"
              >
                <use href="/images/icons.svg#icon-check"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
