<section class="team-section" id="team">
  <div class="container">
    <p class="team-text">Meet</p>
    <h2 class="team-header">Our team</h2>
    <p class="team-description">
      Dedicated professionals passionate about yoga and wellness.
    </p>
    <ul class="team-list">
      <li class="team-member">
        <div class="team-img-container">
          <picture>
            <source
              media="(min-width: 1336px)"
              srcset="
                ../images/team/Liam_Johnson_desktop1.jpg 1x,
                ../images/team/Liam_Johnson_desktop2.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../images/team/Liam_Johnson_tablet1.jpg 1x,
                ../images/team/Liam_Johnson_tablet2.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../images/team/Liam_Johnson_mob1.jpg 1x,
                ../images/team/Liam_Johnson_mob2.jpg 2x
              "
            />
            <img src="../images/Liam Johnson_mob1.jpg" alt="Liam Jhonson" />
          </picture>
        </div>
        <div>
          <h3 class="team-member-name">Liam Jhonson</h3>
          <p class="team-member-position">Yoga Instructor</p>
          <p class="team-member-skill">
            Liam specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
        </div>
        <ul class="team-member-socials">
          <li>
            <a
              class="team-social-link"
              href="https://www.linkedin.com/school/goit-start-your-career-in-it/?originalSubdomain=ua"
              target="_blank"
            >
              <svg class="team-social-icon" width="24" height="24">
                <use href="../images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="team-social-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg  class="team-social-icon" width="24" height="24">
                <use href="../images/icons.svg#icon-insta"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-member">
        <div class="team-img-container">
          <picture>
            <source
              media="(min-width: 1336px)"
              srcset="
                ../images/team/Emma_Stone_desktop1.jpg 1x,
                ../images/team/Emma_Stone_desktop2.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../images/team/Emma_Stone_tablet1.jpg 1x,
                ../images/team/Emma_Stone_tablet2.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../images/team/Emma_Stone_mob1.jpg 1x,
                ../images/team/Emma_Stone_mob2.jpg 2x
              "
            />
            <img src="../images/team/Emma_Stone_mob1.jpg" alt="Emma Stone" />
          </picture>
        </div>
        <div>
          <h3 class="team-member-name">Emma Stone</h3>
          <p class="team-member-position">Meditation Coach</p>
          <p class="team-member-skill">
            Emma has over 10 years of experience in Hatha and Vinyasa yoga.
          </p>
        </div>
        <ul class="team-member-socials">
          <li>
            <a
              class="team-social-link"
              href="https://www.linkedin.com/school/goit-start-your-career-in-it/?originalSubdomain=ua"
              target="_blank"
            >
              <svg  class="team-social-icon" width="24" height="24">
                <use href="../images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-member">
        <div class="team-img-container">
          <picture>
            <source
              media="(min-width: 1336px)"
              srcset="
                ../images/team/Sophia_Lee_desktop1.jpg 1x,
                ../images/team/Sophia_Lee_desktop2.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../images/team/Sophia_Lee_tablet1.jpg 1x,
                ../images/team/Sophia_Lee_tablet2.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../images/team/Sophia_Lee_mob1.jpg 1x,
                ../images/team/Sophia_Lee_mob2.jpg 2x
              "
            />
            <img src="../images/team/Sophia_Lee_mob1.jpg" alt="Sophia Lee" />
          </picture>
        </div>
        <div>
          <h3 class="team-member-name">Sophia Lee</h3>
          <p class="team-member-position">Pilates Trainer</p>
          <p class="team-member-skill">
            Sophia combines Pilates with yoga for a holistic fitness approach.
          </p>
        </div>
        <ul class="team-member-socials">
          <li>
            <a
              class="team-social-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg  class="team-social-icon" width="24" height="24">
                <use href="../images/icons.svg#icon-insta"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-member">
        <div class="team-img-container">
          <picture>
            <source
              media="(min-width: 1336px)"
              srcset="
                ../images/team/Noah_Brown_desktop1.jpg 1x,
                ../images/team/Noah_Brown_desktop2.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../images/team/Noah_Brown_tablet1.jpg 1x,
                ../images/team/Noah_Brown_tablet2.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../images/team/Noah_Brown_mob1.jpg 1x,
                ../images/team/Noah_Brown_mob2.jpg 2x
              "
            />
            <img src="../images/team/Noah_Brown_mob1.jpg " alt="Noah Brown" />
          </picture>
        </div>
        <div>
          <h3 class="team-member-name">Noah Brown</h3>
          <p class="team-member-position">Yoga Therapist</p>
          <p class="team-member-skill">
            Noah focuses on therapeutic yoga to aid recovery and enhance
            well-being.
          </p>
        </div>
        <ul class="team-member-socials">
          <li>
            <a
              class="team-social-link"
              href="https://www.linkedin.com/school/goit-start-your-career-in-it/?originalSubdomain=ua"
              target="_blank"
            >
              <svg  class="team-social-icon" width="24" height="24">
                <use href="../images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-member">
        <div class="team-img-container">
          <picture>
            <source
              media="(min-width: 1336px)"
              srcset="
                ../images/team/Ava_Green_desktop1.jpg 1x,
                ../images/team/Ava_Green_desktop2.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../images/team/Ava_Green_tablet1.jpg 1x,
                ../images/team/Ava_Green_tablet2.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../images/team/Ava_Green_mob1.jpg 1x,
                ../images/team/Ava_Green_mob2.jpg 2x
              "
            />
            <img src="../images/team/Ava_Green_mob1.jpg" alt="Ava Green" />
          </picture>
        </div>
        <div>
          <h3 class="team-member-name">Ava Green</h3>
          <p class="team-member-position">Fitness Trainer</p>
          <p class="team-member-skill">
            Ava integrates strength training with yoga to promote overall
            fitness.
          </p>
        </div>
        <ul class="team-member-socials">
          <li>
            <a
              class="team-social-link"
              href="https://www.facebook.com/goITclub/?locale=uk_UA"
              target="_blank"
            >
              <svg  class="team-social-icon" width="24" height="24">
                <use href="../images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="team-social-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg  class="team-social-icon" width="24" height="24">
                <use href="../images/icons.svg#icon-insta"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="team-social-link"
              href="https://www.linkedin.com/school/goit-start-your-career-in-it/?originalSubdomain=ua"
              target="_blank"
            >
              <svg  class="team-social-icon" width="24" height="24">
                <use href="../images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-member">
        <div class="team-img-container">
          <picture>
            <source
              media="(min-width: 1336px)"
              src=""
              srcset="
                ../images/team/Were_hiring_desktop1.jpg 1x,
                ../images/team/Were_hiring_desktop2.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../images/team/Were_hiring_tablet1.jpg 1x,
                ../images/team/Were_hiring_tablet2.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../images/team/Were_hiring_mob1.jpg 1x,
                ../images/team/Were_hiring_mob2.jpg 2x
              "
            />
            <img src="../images/team/Were_hiring_mob1.jpg" alt="Clark Thomas" />
          </picture>
        </div>
        <div>
          <h3 class="team-member-name">Clark Thomas</h3>
          <p class="team-member-position">Fitness Trainer</p>
          <p class="team-member-skill">
            Clark specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
        </div>
        <ul class="team-member-socials">
          <li>
            <a
              class="team-social-link"
              href="https://www.facebook.com/goITclub/?locale=uk_UA"
              target="_blank"
            >
              <svg  class="team-social-icon" width="24" height="24">
                <use href="../images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="team-social-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg  class="team-social-icon" width="24" height="24">
                <use href="../images/icons.svg#icon-insta"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
