<section class="yoga-programs" id="yoga-classes">
    <div class="yoga-container">
        <div class="section-top">
            <p class="section-label">Explore</p>
            <h2 class="section-title">Discover Our Most Popular Yoga Programs</h2>
            <p class="section-description">
                Join our community and elevate your practice with our expertly designed yoga programs.
                Each course is tailored to meet various skill levels and personal goals.
            </p>
        </div>

        <ul class="programs-list">
            <li class="programs-list-item">
                <div class="program-card">
                    <picture>
                        <source media="(min-width: 1336px)" srcset="
                                                /images/yoga-classes/yoga-classes1_desktop1.jpg 1x,
                                                /images/yoga-classes/yoga-classes1_desktop2.jpg 2x
                                              " />
                        <source media="(min-width: 768px)" srcset="
                                                /images/yoga-classes/yoga-classes1_tablet1.jpg 1x,
                                                /images/yoga-classes/yoga-classes1_tablet2.jpg 2x
                                              " />
                        <source media="(max-width: 767px)" srcset="
                                                /images/yoga-classes/yoga-classes1_mob1.jpg 1x,
                                                /images/yoga-classes/yoga-classes1_mob2.jpg 2x
                                              " />
                        <img src="/images/yoga-classes/yoga-classes1_mob1.jpg" alt="Beginner Yoga" class="yoga-img" />
                    </picture>
                    <h3 class="yoga-card-title">Beginner Yoga: Foundations<span class="extra-text">
                         for New Practitioners</h3>
                        <p class="yoga-par">Learn the basics of yoga in a supportive environment.
                    </span></p>
                </div>
            </li>
            <li class="programs-list-item">
                <div class="program-card">
                    <picture>
                        <source media="(min-width: 1336px)" srcset="
                                                                    /images/yoga-classes/yoga-classes2_desktop1.jpg 1x,
                                                                    /images/yoga-classes/yoga-classes2_desktop2.jpg 2x
                                                                  " />
                        <source media="(min-width: 768px)" srcset="
                                                                    /images/yoga-classes/yoga-classes2_tablet1.jpg 1x,
                                                                    /images/yoga-classes/yoga-classes2_tablet2.jpg 2x
                                                                  " />
                        <source media="(max-width: 767px)" srcset="
                                                                    /images/yoga-classes/yoga-classes2_mob1.jpg 1x,
                                                                    /images/yoga-classes/yoga-classes2_mob2.jpg 2x
                                                                  " />
                        <img src="/images/yoga-classes/yoga-classes2_mob1.jpg" alt="Vinyasa Flow" class="yoga-img picture" />
                    </picture>
                    <h3 class="yoga-card-title">Vinyasa Flow: Energize Your Body and Mind</h3>
                    <p class="yoga-par">Experience a dynamic sequence that connects breath and movement.</p>
                </div>
            </li>
            <li class="programs-list-item programs-list-item-tablet">
                <div class="program-card">
                    <picture>
                        <source media="(min-width: 1336px)" srcset="
                                                                                        /images/yoga-classes/yoga-classes3_desktop1.jpg 1x,
                                                                                        /images/yoga-classes/yoga-classes3_desktop2.jpg 2x
                                                                                      " />
                        <source media="(min-width: 768px)" srcset="
                                                                                        /images/yoga-classes/yoga-classes3_tablet1.jpg 1x,
                                                                                        /images/yoga-classes/yoga-classes3_tablet2.jpg 2x
                                                                                      " />
                        <source media="(max-width: 767px)" srcset="
                                                                                        /images/yoga-classes/yoga-classes3_mob1.jpg 1x,
                                                                                        /images/yoga-classes/yoga-classes3_mob2.jpg 2x
                                                                                      " />
                        <img src="/images/yoga-classes/yoga-classes3_mob1.jpg" alt="Vinyasa Flow" class="yoga-img" />
                    </picture>
                    <h3 class="yoga-card-title">Restorative Yoga: Deep Relaxation and Healing</h3>
                    <p class="yoga-par">Unwind and rejuvenate with gentle poses and mindfulness.</p>
                </div>
            </li>
        </ul>
        
        <a class="btn-yoga" href="#pricing">Join <span class="btn-span">now</span></a>
            
            

    </div>
</section>