.gallery-section {
  padding: 64px 0;
}

.gallery-container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/* Title block */
.gallery-title {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.gallery-title-h {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

.gallery-title-p {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  max-width: 335px;
}

/* Gallery grid */
.gallery-photo-ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery-photo-li {
  width: 100%;
}

.gallery-photo-li-div picture,
.gallery-photo-li-div img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
  object-fit: cover;
}

@media (min-width: 768px) {
   .gallery-section {
   background: var(--Color-Scheme-3-Background, #F2FAFA);
   }

  .gallery-container {
   max-width: 768px;
   padding: 0 32px;
  }

  .gallery-photo-ul {
   display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery-title {
   max-width: 704px;
   margin: 0 auto;
  }
  .gallery-title-h {
   font-size: 48px;
   max-width: 704px;
   margin: 0 auto;
  }

  .gallery-title-p {
   font-size: 18px;
   max-width: 704px;
   margin: 0 auto;
  }
}

@media (min-width: 1336px) {
   .gallery-section {
      background: var(--Color-Scheme-3-Background, #F2FAFA);
   }
   .gallery-container {
      max-width: 1440px;
      padding: 0 64px;
  }
  .gallery-title {
   max-width: 768px;
   margin: 0 auto;
  }
  .gallery-title-h {
   max-width: 768px;
   margin: 0 auto;
  }
  .gallery-title-p {
   max-width: 768px;
   margin: 0 auto;
  }
   .gallery-photo-ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }
}