.hero-image {
  width: 100%;
  height: 301px;
  background-image: url(/images/hero/hero_image_mob1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero-image {
    background-image: url(/images/hero/hero_image_mob2.jpg);
  }
}
.hero-container {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  background-color: #f2fafa;
  box-sizing: border-box;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 48px 0px;
  width: 375px;
  height: 511px;
}
.hero-title-div {
  width: 343px;
  height: 159px;
}
.hero-div-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 343px;
  height: 236px;
}

.hero-title {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #0d0b0a;
}
.hero-text {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
}
.hero-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
.hero-join {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  font-family: 'Sarabun', sans-serif;
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  padding: 10px 24px;
  width: 329px;
  height: 46px;
  background: #c2d9fc;
}
.hero-learn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  font-family: 'Sarabun', sans-serif;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding: 10px 24px;
  width: 329px;
  height: 46px;
  background: rgba(13, 11, 10, 0.05);
}

@media only screen and (min-width: 768px) {
  .hero-image {
    width: 100%;
    height: 389px;
    background-image: url(/images/hero/hero_image_tablet1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-image {
      background-image: url(/images/hero/hero_image_tablet2.jpg);
    }
  }

  .hero-content {
    padding-top: 24px;
    padding-left: 32px;
    width: 768px;
    height: 306px;
  }
  .hero-title-div {
    width: 450px;
    height: 106px;
  }
  .hero-div-text {
    gap: 32px;
    width: 641px;
    height: 144px;
  }
  .hero-buttons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
  }
  .hero-text {
    font-size: 18px;
  }
  .hero-join {
    width: 144px;
  }

  .hero-learn {
    width: 144px;
  }
}

@media only screen and (min-width: 1336px) {
  .hero-image {
    width: 100%;
    height: 684px;
    background-image: url(/images/hero/hero_image_desktop1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-image {
      background-image: url(/images/hero/hero_image_desktop2.jpg);
    }
  }
  .hero-content {
    flex-direction: row;
    gap: 24px;
    padding-left: 128px;
    padding-top: 80px;
    width: 1440px;
    height: 418px;
  }
  .hero-title-div {
    width: 644px;
    height: 258px;
  }

  .hero-title {
    font-size: 72px;
  }
  .hero-buttons {
    flex-direction: row;
    gap: 16px;
  }
  .hero-join {
    width: 113px;
  }
  .hero-join:hover,
  .hero-join:focus {
    background: rgba(13, 11, 10, 0.05);
  }
  .hero-learn {
    width: 128px;
  }
  .hero-learn:hover,
  .hero-learn:focus {
    background: #c2d9fc;
  }
}
