.hero {
  width: 100%;
  background: var(--Color-Scheme-3-Background, #F2FAFA);
}

.hero-image {
  width: 100%;
  max-width: 1440px;
  height: 301px;
  margin: 0 auto;
  background-image: url(/images/hero/hero_image_mob1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media screen and (min-resolution: 2dppx) {
  .hero-image {
    background-image: url(/images/hero/hero_image_mob2.jpg);
  }
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 48px 16px;
  max-width: 375px;
  margin: 0 auto;
}

.hero-left {
  width: 100%;
  justify-content: flex-start;
}

.hero-right {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  align-items: left;
}

.hero-title {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 1.2;
  color: #0d0b0a;
}

.hero-text {
  font-family: 'Sarabun', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
  text-align: left;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 10px 24px;
  height: 46px;
  width: 319px;
  font-family: 'Sarabun', sans-serif;
  font-size: 16px;
}

.hero-join {
  background: #c2d9fc;
  border: 1px solid #c2d9fc;
}

.hero-learn {
  background: rgba(13, 11, 10, 0.05);
  border: none;
}

.hero-span {
  display: none;
}

@media (min-width: 768px) {
  .hero-image {
    height: 389px;
    background-image: url(/images/hero/hero_image_tablet1.jpg);
  }

  @media screen and (min-resolution: 2dppx) {
    .hero-image {
      background-image: url(/images/hero/hero_image_tablet2.jpg);
    }
  }

  .hero-span {
    display: inline;
  }

  .hero-content {
    max-width: 768px;
    padding: 24px 32px;
  }

  .hero-text {
    font-size: 18px;
  }

  .hero-button {
    max-width: 144px;
  }

  .hero-buttons {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media (min-width: 1336px) {
  .hero-image {
    height: 684px;
    background-image: url(/images/hero/hero_image_desktop1.jpg);
  }

  @media screen and (min-resolution: 2dppx) {
    .hero-image {
      background-image: url(/images/hero/hero_image_desktop2.jpg);
    }
  }

    .hero-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 24px;
      padding: 80px 0;
      max-width: 1312px;
      margin: 0 auto;
      height: 418px;
    }
  
    .hero-left {
      flex: 1 1 0;
      max-width: 644px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  
    .hero-right {
      flex: 1 1 0;
      max-width: 641px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      margin: 0;
      padding: 0;
    }

  .hero-title {
    font-size: 72px;
    line-height: 1.1;
  }

    .hero-text {
      padding-top: 8px;
      text-align: left;
      font-size: 18px;
      line-height: 1.4;
      margin: 0;
    }
  
    .hero-buttons {
      display: flex;
      flex-direction: row;
      gap: 16px;
      margin: 0;
      padding: 0;
    }

  .hero-button,
  .hero-join,
  .hero-learn {
    width: 160px;
  }

  .hero-join:hover,
  .hero-join:focus {
    background: rgba(13, 11, 10, 0.05);
  }

  .hero-learn:hover,
  .hero-learn:focus {
    background: #c2d9fc;
  }
}