* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

ul,
ol,
li {
    list-style-type: none;
}

.container-pricing {
    width: 100%;
    max-width: 375px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 16px;
}

@media screen and (min-width: 768px) {
    .container-pricing {
        max-width: 768px;
    }
}

@media screen and (min-width: 1336px) {
    .container-pricing {
        max-width: 1336px;
    }
}

.pricing-title-div {
    margin-bottom: 48px;
}




.pricing-title-p {
    font-family: "Sarabun", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #0d0b0a;
    margin-bottom: 12px;
}

.pricing-title {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0d0b0a;
    margin-bottom: 20px;
}

.pricing-subtitle {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #0d0b0a;
    margin-bottom: 48px;
}

.pricing-box-cont {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background: #f2fafa;
}

.pricing-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: 0px solid rgba(13, 11, 10, 0.15);
    border-radius: 16px;
    padding: 32px 24px;
    max-width: 343px;
    height: auto;
    background: #dfebeb;
}

.pricing-box-third {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: 0px solid rgba(13, 11, 10, 0.15);
    border-radius: 16px;
    padding: 32px 24px;
    max-width: 343px;
    height: auto;
    background: #dfebeb;
}

.pricing-session {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0d0b0a;
    margin-bottom: 8px;

}

.pricing-cost {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0d0b0a;
    margin-bottom: 24px;
}

.pricing-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

.pricing-list:last-child {
    gap: 0;
}

.pricing-list-item {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #0d0b0a;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 16px;
}

.pricing-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    border: 1px solid #c2d9fc;
    border-radius: 100px;
    padding: 10px 24px;
    width: 100%;
    height: 46px;
    background: #c2d9fc;
    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #0d0b0a;
    cursor: pointer;
}

.pricing-btn-third {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    border: 1px solid #c2d9fc;
    border-radius: 100px;
    padding: 10px 24px;
    width: 100%;
    height: 46px;
    background: #c2d9fc;
    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #0d0b0a;
    cursor: pointer;
}

.pricing-box-deception {
    display: none;
}

@media screen and (min-width: 768px) {
    .pricing-box-third {
        display: none;
    }
    .pricing-title-p {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
    }

    .pricing-subtitle {
        font-size: 18px;
    }

    .pricing-session {
        font-size: 22px;
    }

    .pricing-cost {
        font-size: 72px;
    }

    .pricing-title-div {
        margin-bottom: 24px;   
    }

    .pricing-box-cont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .pricing-box {
        width: 340px;
        height: 383px;
        display: flex;
        align-items: stretch;
    }

    .pricing-box-deception {
        width: 100%;
        max-width: 704px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        border: 0px solid rgba(13, 11, 10, 0.15);
        border-radius: 16px;
        padding: 16px;
        width: 704px;
        height: 383px;
        background: #dfebeb;
        
    }

    .session-cost-third {
        margin-left: 16px;
    }

    .pricing-list {
        margin-right: 16px;
    }

    .pricing-btn-third {
        width: 320px;
        height: 46px; 
    }

    .pricing-btn-container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    
    }
    
   

}

@media screen and (min-width: 1336px) {
    .pricing-box-deception {
        display: none;
    }

    .pricing-title {
        font-size: 52px;
    }

    .pricing-box-third {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        border: 0px solid rgba(13, 11, 10, 0.15);
        border-radius: 16px;
        padding: 32px 24px;
        max-width: 343px;
        height: 509px;
        background: #dfebeb;   
    }

    .container-pricing {
        max-width: 1440px;
    }

    .pricing-box{
        max-width: 421.33px;
        height: 509px;
    }

    .pricing-box-cont {
        margin: 0 auto;
        width: 100%;
    }

    .pricing-title {
        font-size: 52px;
    }

    .pricing-list {
        margin-bottom: 12px;
    }

    .pricing-cost {
        margin-bottom: 32px;
    }

    .pricing-btn {
        margin-top: 125px;
    }
}

