/*Yoga Classes*/
/*section 1*/

.yoga-programs {
    padding: 64px 16px;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #DFEBEB;
}

/* Центрування секції */
.section-top {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;

}

.section-label {
    font-family: "Sarabun", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #0D0B0A;

    margin-bottom: 12px;
}




/* Заголовок */
.section-title {
    font-family: "Cabin";
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0D0B0A;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/* Параграф */
.section-description {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #0D0B0A;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.programs-list {
    gap: 48px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.program-card {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.yoga-img {
    border-radius: 16px;
    width: 343px;
    margin-bottom: 24px;
}

.yoga-card-title {
    font-family: "Cabin";
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0D0B0A;
    margin-bottom: 20px;
}

.yoga-par {
    font-family: "Sarabun";
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #0D0B0A;
    justify-content: flex-end;
}


/* Кнопка */
.btn-yoga {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    overflow: hidden;

    font-family: "Cabin";
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #0D0B0A;

    border: 1px solid #C2D9FC;
    border-radius: 100px;
    padding: 10px 156px;
    width: 100%;
    max-width: 343px;
    height: 46px;

    margin: 0 auto;
    background-color: #C2D9FC;
}

.btn-span {
    display: none;
}

/* Наведення */
.btn-yoga:hover,
.btn-yoga:focus {
    background-color: #F2F7FE;
}


@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
        justify-content: center;
        margin: 0 auto;
    }

    .yoga-programs {
        background-color: #F2FAFA;
        padding: 40px 32px;
    }

    .section-title {
        font-size: 48px;
        max-width: 100%;
        justify-content: center;
    }

    .section-description {
        max-width: 540px;
        justify-content: center;
    }

    .programs-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }

    .programs-list-item {
        width: calc((100% - 24px) / 2);
        display: flex;
        justify-content: center;
    }




    .yoga-img {
        width: 100%;
    }


    .yoga-par {
        justify-content: flex-end;
    }



    .btn-span {
        display: inline;
        margin-left: 6px;
    }

    .btn-yoga {
        padding: 10px 24px;
        width: 110px;
        height: 46px;
        background-color: #C2D9FC;
    }
}






@media screen and (min-width: 1336px) {
    .container {
        max-width: 1336px;
        margin: 0 auto;
    }


    .section-title {
        font-size: 48px;
        justify-content: center;
    }

    .section-description {
        margin-bottom: 40px;
        justify-content: center;
    }

    .programs-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 48px;
    }


    .programs-list-item {
        width: calc((100% - 96px) / 3);
        /* 3 колонки з 2 проміжками */
        display: flex;
        justify-content: center;
    }

    .btn-yoga {
        padding: 10px 24px;
        width: 110px;
        height: 46px;
        background-color: #C2D9FC;
    }

    .btn-span {
        display: inline;
        margin-left: 6px;
    }
}